#information{
  background:lightgrey;
  padding:20px;
  border:2px solid black;
  border-radius:2px;
}
#total {
  background:url("pattern.jpg") no-repeat center/cover;
  min-height:100vh;
  box-sizing: border-box;
}
*{
  text-decoration:none;
  color:black;
}
#header{
  background:red;
  padding:20px;
  display:flex;
  gap:50px;
}

#information{
  margin:100px;
}
 a{
   color:white;
 }
@media(max-width:576px){

}
@media(max-height:526px){
  h1{
    font-size:20px;
  }
  p{
    font-size:15px;
  }
  #information{
    padding:10px;
  }
}