*{
  text-decoration:none; to 
  color:black;
 box-sizing: border-box;

}
#full{
  background:url("pattern.jpg") no-repeat center/cover;  
  min-height:100vh;
  box-sizing: border-box;
  margin:0px;
  
}
#header{
  background:red;
  padding:20px;
  display:flex;
  gap:50px;
  
}
#main>a{
  background-color:red;
  padding:20px;
  margin:50px 100px;
  font-size:20px;
  border:2px solid red;
  border-radius:2000px;
  text-align:center;
}
 a{
   color:white;
 }

#main{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
img{
  max-height:400px;
  max-width:400px;
  align-self:center;
}
p{
  text-align:center;
  font-size:30px;
  font-weight: bold;
 color:black;
}
@media(max-width:576px) {
  #main>a{
    padding:5px;
  }
}
@media(max-width:768px) {
  #main>a{
    padding:20px;
    font-size:40px;
  }
}
body{
overflow-x:hidden;}
